<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-left">
        <p class="paragraph-lg text-dark">{{ site.data.settings.blurb }}<br>
        <a href="{{ site.data.settings.blurb-btn-link }}"> {{site.data.settings.blurb-btn-name }}</a>
        </p>
        <div style="padding:100% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/568056576?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Werkstatt_kürzer_20210601.mp4"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
      </div>
    </div>
  </div>
</section>
<!-- /about -->