<!-- footer -->
<footer class="bg-dark footer-section">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-light">Rechtliches</h5>
          <p><a href="/imprint.html">Impressum</a></p>
          <p><a href="/dgsvo.html">Datenschutzerklärung</a></p>
        </div>

        <div class="col-md-4">
          <h5 class="text-light">Kontakt</h5>
          <p><a href="/contact">Newsletter</a></p>
          <p><a href="mailto:post@kimkommt.de">post@kimkommt.de</a></p>
        </div>

      </div>
    </div>
  </div>
  <div class="border-top text-center border-dark py-5">
    <h6 class="text-light">{{site.data.settings.copyright | markdownify}}</h6>
  </div>
</footer>
<!-- /footer -->


<!-- JS Plugins -->
{% for js in site.data.plugins.js %}
<script src="{{ js | relative_url }}"></script>
{% endfor %}

<!-- Main Script -->
<script src="{{ '/assets/js/script.js' | relative_url }}"></script>