<!-- footer -->
<footer class="bg-dark footer-section">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-light">Legal</h5>
            <p><a href="imprint.html">Impressum</a></p>
            <p><a href="dgsvo.html">Datenschutzerklärung</a></p>
        </div>
        <div class="col-md-4">
          <a href="partner.html"><h5 class="text-light">Partner</h5></a>
        </div>
        <div class="col-md-4">
          <a href="impressum.html"><h5 class="text-light">Impressum</h5></a>
        </div>

      </div>
    </div>
  </div>
  <div class="border-top text-center border-dark py-5">
    <p class="mb-0 text-light">{{site.data.settings.copyright | markdownify}}</p>
  </div>
</footer>
<!-- /footer -->


<!-- JS Plugins -->
{% for js in site.data.plugins.js %}
<script src="{{ js | relative_url }}"></script>
{% endfor %}

<!-- Main Script -->
<script src="{{ '/assets/js/script.js' | relative_url }}"></script>