---
layout: short
---
<!-- page title -->
<section class="page-title bg-primary position-relative">
  <!-- background shapes -->
  <img src="{{ site.baseurl }}/assets/images/illustrations/210205_KIM_IlluText_web2.png" alt="illustrations" class="bg-shape-1 w-100">
  
</section>
<!-- /page title -->

<!-- about -->
<section class="section pt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-left">
        <h1>{{ page.title }}</h1>
      </div>
      <div class="col-md-8">
        {{ content }}
      </div>
      <div class="col-md-4 text-center drag-lg-top">

      </div>
    </div>
  </div>
</section>
<!-- /about -->


  
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="section-title">unterstützt von</h3>
      </div>
    </div>
    {% include sponsor-slider.html %}
  </div>
</section>